*{
    margin: 0;
    padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(5, 67, 5);
  height: 100vh;
  font-size: 20px;
  
  
}

.container{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.header{
    color: aliceblue;
    text-align: center;

}
/* .form{
  display: flex;
  justify-content: center;
  align-items: space-between;
  color: rgb(1, 8, 14);
  font-size: 15px;
  padding: 25px;
  background-color: rgb(237, 243, 235);
  border-radius: 5px;
  text-align: center;
} */

.form-predict{
    display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 20px;
  
  background-color: rgb(12, 44, 1);
  border-radius: 5px;
  color: rgb(237, 243, 248);
  font-size: 15px;
  text-align: left;
  
    
}

button {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: green;
  box-shadow: olivedrab;
}
button:hover {
  background-color: blue;
}

.button {
  display: flex;
  justify-content: center;}



